<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Collage</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../assets/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <section>
    <div class="container container1">
      <img id="img1" draggable="true" src="../assets/images/img1.png" class="img">
      <img id="img2" draggable="true" src="../assets/images/img2.jpg" class="img">
      <img id="img3" draggable="true" src="../assets/images/img3.jpg" class="img">
      <img id="img4" draggable="true" src="../assets/images/img4.webp" class="img">
      <img id="img5" draggable="true" src="../assets/images/img5.jpg" class="img">
      <img id="img6" draggable="true" src="../assets/images/img6.jpg" class="img">
      <img id="img7" draggable="true" src="../assets/images/img7.png" class="img">
      <img id="img8" draggable="true" src="../assets/images/img8.jpg" class="img">
    </div>
    </section>
    <div class="middle">
      <p class="text-center">Insta-Collage</p>
    </div>
    <div class="container container2">
    </div>
  </div>
  <!-- Sección scripts-->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../js/d&d.js"></script>
</body>

</html>
